<!-- ng-controller="miembros" -->
<div class="container">
	<div class="row">
		<div class="col-md-6 margen">
			<h4>Lista de Miembros ({{total}})</h4>
		</div>
		<div class="col-md-6 margen">
			<div class="input-group input-group-sm mb-3">
				<input type="text" class="form-control" placeholder="" aria-describedby="basic-addon2" ng-model="buscarM">
				<div class="input-group-append">
					<span class="input-group-text" id="basic-addon2">Buscar</span>
				</div>
			</div>
		</div>
		<table class="table table-sm">
			<thead class="thead-dark">
				<tr>
					<th scope="col">ID</th>
					<th>Cedula</th>
					<th>Nombre</th>
					<th>Apellido</th>
					<th>Telefono</th>
					<th>Correo</th>
					<th>Fecha de Nacimiento</th>
					<th>Fecha de Ingreso</th>
					<th>Estado</th>
					<th>Pagar</th>
					<th>Ver</th>
					<th>Editar</span></th>
				</tr>
			</thead>
			<tbody>
				<tr ng-if="listMiembros==-1">
					<td class="cargaSpiner" colspan="12">
						<i class="fas fa-spinner fa-pulse fa-10x"></i>
					</td>
				</tr>
				<tr ng-if="listMiembros==0">
					<td colspan="12">
						<div class="alert alert-primary" role="alert">
							No hay miembros registrados
						</div>
					</td>
				</tr>
				<tr ng-repeat="Lista in dataset | filter: buscarM" >
					<th scope="row">{{Lista.id}}</th>
					<td>{{Lista.cedula}}</td>
					<td>{{Lista.nombre}}</td>
					<td>{{Lista.apellido}}</td>
					<td>{{Lista.telefono}}</td>
					<td>{{Lista.correo}}</td>
					<td>{{Lista.nacimiento}}</td>
					<td>{{Lista.ingreso}}</td>
					<td>{{Lista.estado}}</td>
					<td>
						<a href="#!/pagar/{{Lista.cedula}}" class="link">
							<span class="fas fa-money-bill-alt"></span>
						</a>
					</td>
					<td>
						<a href="#!/Lpagos/{{Lista.cedula}}" class="link">
							<span class="fas fa-eye"></span>
						</a>
					</td>
					<td>
						<a href="#!/Modi/{{Lista.id}}" class="link">
							<button ng-click="modi(Lista.cedula)" class="btn btn-primar btn-sm">
								<span class="fas fa-user-edit"></span>
							</button>
						</a>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>